.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  inset: 0;
  pointer-events: none;

  .image {
    height: 140px;
  }

  .loaderMessage {
    position: absolute;
    bottom: 50px;
    font-size: 12px;
    font-weight: 400;
    color: #700c9c;
  }
}
